body {
    background-color: #888;
}

#content {
        background-color: #fff;
        padding-left: 1.5em;
        padding-right: 1.5em;
        
}

th {
    background-color: #656565;
    color: #fff;
}

.btnTd {
    margin: 0;
    padding: 0;
}